body {
    background: rgb(255, 255, 255);
    /* color: black; */
    text-align: center;
}

.container {
    display: inline-block;
}

br {
    border-bottom: 1px black;
}

tbody,
th,
td,
table {
    padding: 8px;
    margin: 5px;
    text-align: center;
}

#h2-container {
    text-align: center;
}

h2 {
    float: left;
}

#submit {
    float: right;
}

.wrapper {
    border: 1px solid cyan;
    /* background: grey; */
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    /* display: inline-block; */
}

.wrapper img {
    width: 60%;
    padding: 5%;
}

.add-train {
    margin: 5px;
}