body {
    background: rgb(255, 255, 255);
    color: white;
    text-align: center;
}

.container {
    display: inline-block;
}

th,
td {
    padding: 5px;
}

h1 {
    /* margin-top: 10%; */
}

.sub-title {
    /* margin: 5px; */
}

.sub-head {
    margin: 5px;
}

.sub-body {
    margin: 5px;
}

.wrapper {
    border: 1px solid cyan;
    background: grey;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    /* display: inline-block; */
}

.wrapper img {
    width: 60%;
    padding: 5%;
}

.add-train {
    margin: 5px;
}

button {
    margin-bottom: 20px;
}